*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
html,body{
    height: auto;
    width: 100%;
   
}
body{
    background-color: hsl(218, 23%, 16%);
}
.container{
    width: 90%;
    margin-top: 25%;
    background-color:hsl(217, 19%, 24%) ;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
} 
.advice-num{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    color: hsl(150deg, 100%, 66%);
    letter-spacing: 3px;
    padding-top: 40px;
}
span{
    color: hsl(150deg, 100%, 66%);
}
.advice{
    text-align: center;
    vertical-align: baseline;
    margin: 70px 30px 0px 30px;
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 800;
    
}
 p{
    vertical-align: baseline;
    height: 100%;
}

.divider{
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.mob-divider{
    width: 90%;
}
.desktop-divider{
    display: none;
}
.dice{
    margin: auto;
    text-align: center;
    width: 60px;
    position: absolute;
    height: 60px;
    padding-top: 17px;
    margin-top: 40px;
    top: 25px;
    border-radius: 50%;
    position: relative;
    background-color: hsl(150, 100%, 66%);
}
.dice:hover{
    box-shadow: 5px 0px 40px hsl(150, 100%, 66%);
}


@media screen and (min-width: 800px) {
    body{
        text-align: center;
    }
    .container{
        max-width: 45%;
        margin-top: 10%;
    }
    .desktop-divider{
        display: block;
        width: 80%;
        padding-bottom: 10px;
        margin: auto;
        text-align: center;
    }
    .mob-divider{
        display: none;
    }
}














